@import "vars";
@import "fonts";
@import "global";

.header {
   background-color: $accent;

   &__inner {
      min-height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

@media (min-width: 640px) {
   .header {
      &__inner {
         min-height: 100px;
      }
   }
}

.logo__link {
   margin-left: 8px;
}

@media (min-width: 640px) {
   .logo__link {
      margin-left: 14px;
   }
}

@media (min-width: 768px) {
   .logo__link {
      margin-left: 0px;
   }
}

.menu__btn {
   width: 40px;
   height: 40px;
   border-radius: 3px;
   background-color: #fff;
   border: none;
   position: relative;

   &::after {
      content: "";
      width: 13px;
      height: 2px;
      border-radius: 1px;
      background-color: $accent;
      position: absolute;
      top: 15px;
      left: 14px;
      box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent; //тень палки вниз на 4
   }
}

@media (min-width: 1440px) {
   .menu__btn {
      margin-right: 90px;
   }
}

/* ------------------------HEADER-END--------------------------------- */

.head {
   background-image: url(../images/bg-slider.jpg); //!!!
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   min-height: 193px;
}

/* @media (min-width: 640px) {
   .head {
      min-height: 386px;
      background-position: center center;//!!!!!!!!!!!
   }
} */

/* ------------------------SLIDER-START--------------------------------- */
.top-slider {
   background: rgba(33, 33, 33, 0.5);

   &__item {
      color: #fff;
      text-align: center;
      min-height: 193px;
   }

   &__title {
      font-family: "RobotoCondensed-Regular";
      font-size: 28px;
      line-height: 28px;
      font-weight: 400;
      text-transform: uppercase;
      padding-top: 36px;
      padding-bottom: 28px;
      max-width: 243px;
      margin: 0 auto;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         left: 0;
         right: 0;
         bottom: 0;

         margin: 0 auto;
         width: 61px;
         height: 8px;
         background-color: $text-color;
      }
   }

   &__text {
      display: none;
   }

   &__btn {
      display: none;
   }

   .slick-dots {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;

      .slick-active {
         button {
            background-color: transparent;
            border: 1px solid #476e4d;
         }
      }

      button {
         font-size: 0;
         border: none;
         background-color: $accent;
         padding: 0;
         width: 10px;
         height: 10px;
         border-radius: 50%;
         margin: 0 10px;
      }
   }
}

@media (min-width: 640px) {
   .top-slider {
      &__item {
         min-height: 386px;
      }

      &__title {
         font-size: 60px;
         line-height: 60px;
         padding-top: 50px;
         padding-bottom: 30px;
         min-width: 520px;
      }

      &__btn {
         display: block;
         font-weight: 500;
         margin: 0 auto 113px;
         margin-top: 45px;
         padding: 16px 45px;
         font-size: 18px;
         line-height: 18px;
         background-color: $accent;
         border: none;
         border-radius: 3px;
         color: $bg-color;
      }

      .slick-dots {
         bottom: 50px;
      }

      .slick-arrow {
         width: 56px;
         height: 56px;
         border: none;
         position: absolute;
         right: 0;
         z-index: 5;
      }

      .slick-prev {
         background-color: $accent;
         top: calc(50% - 56px);
      }

      .slick-next {
         background-color: $bg-color;
         top: 50%;
      }
   }
}

@media (min-width: 768px) {
   .top-slider {
      &__item {
         min-height: 465px;
      }

      &__title {
         padding-top: 87px;
         margin: 0 auto 0; //!!!!!!!!!!!!!!!!!!!!!!

         &::after {
            display: none;
         }
      }

      &__text {
         padding-top: 25px;
         padding-bottom: 32px;
         font-family: "RobotoCondensed-Regular";
         font-weight: 400;
         font-size: 18px;
         line-height: 20px;
         display: block;
         max-width: 587px;
         margin: 0 auto 0; //!!!!
      }
   }
}

@media (min-width: 1024px) {
   .top-slider {
      &__item {
         min-height: 618px;
      }

      &__title {
         padding-top: 101px;
         font-size: 84px;
         line-height: 84px;
         letter-spacing: 2px;
         max-width: 750px;
      }

      .slick-dots {
         bottom: 80px;
      }
   }
}

@media (min-width: 1440px) {
   .top-slider {
      &__item {
         min-width: 668px;
      }

      &__title {
         padding-top: 107px;
         font-size: 96px;
         line-height: 96px;
         letter-spacing: 2px;
         max-width: 865px;
      }

      &__text {
         font-size: 24px;
         line-height: 26px;
      }

      .slick-arrow {
         width: 70px;
         height: 70px;
      }

      .slick-prev {
         top: calc(50% - 70px);
      }

      .slick-next {
         background-color: $bg-color;
         top: 50%;
      }
   }
}

/* ------------------------SLIDER-END--------------------------------- */

/* ------------------------CALL-ME--------------------------------- */

.call {
   background-color: $accent;
   padding: 40px 0;
   text-align: center;
   color: #fff;

   &__title {
      @extend %roboto-500; //!! check vars посмотреть экстенды
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 15px;
   }

   &__text {
      /* @extend %dosis-300; //!!! check vars посмотреть экстенды */
      margin-bottom: 40px;
   }

   &__btn {
      padding: 16px 15px;
      background-color: $bg-color;
      color: $accent;
      @extend %roboto-500;
      font-size: 18px;
      line-height: 18px;
      border-radius: 3px;
      border: none;
      text-transform: uppercase;
   }
}

@media (min-width: 768px) {
   .call {
      text-align: left;

      &__inner {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      &__box {
         max-width: 427px;
      }

      &__text {
         margin-bottom: 0;
      }
   }
}

@media (min-width: 1024px) {
   .call {
      &__box {
         min-width: 695px;
      }
   }
}

@media (min-width: 1440px) {
   .call {
      &__inner {
         padding: 0 80px;
      }

      &__box {
         min-width: 796px;
      }
   }
}

/* ------------------------CALL-ME- END-------------------------------- */

/* ------------------------SERVICES------------------------------------ */
.services {
   text-align: center;
   padding: 25px 0 40px;

   &__title {
      margin-bottom: 47px;
      color: $accent;
   }

   &__descr {
      font-size: 20px;
      line-height: 24px;
      color: $text-color;
      margin-bottom: 21px;
   }

   &__text {
      color: #797979;
      font-size: 15px;
      line-height: 17px;
   }

   &__item {
      min-height: 310px;
      border: 1px solid $bg-color;
      border-bottom: none;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:last-child {
         border-bottom: 1px solid $bg-color;
      }

      &:hover {
         .services__item-text,
         .services__item-link {
            opacity: 1;
            height: auto;
            overflow: visible; // смена ховер эффекта для плавности
         }

         .services__item-title {
            margin-bottom: 30px;
         }

         .services__item-inner {
            border: 4px solid $accent;
            margin: 18px 0;
            padding: 20px 20px 7px 20px;
            min-height: 277px;
         }
      }

      &__item-inner {
         transition: all 0.5s; // смена ховер эффекта для плавности
      }
   }

   &__item-img {
      margin-bottom: 25px;
   }

   &__item-title {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2px; //тк это H1-h6( для SEO)
      color: $accent;
      @extend %robotocondenced-700;
   }

   &__item-text,
   &__item-link {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.5s; // смена ховер эффекта для плавности
   }

   &__item-text {
      margin-bottom: 17px;
      @extend %dosis-500;
      font-size: 16px;
      line-height: 18px;
   }

   &__item-link {
      font-size: 16px;
      line-height: 19px;
      color: $accent;
      margin-bottom: 28px;
      @extend %robotocondenced-700;
   }
}

@media (min-width: 640px) {
   .services {
      padding: 24px 0 0;

      &__title {
         font-size: 48px;
         line-height: 56px;
         margin-bottom: 20px;
         padding-bottom: 0;

         &::after {
            display: none;
         }
      }

      &__descr {
         font-size: 24px;
         padding-bottom: 38px;
         margin-bottom: 23px;
         position: relative;

         &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 8px;
            background-color: $accent;
            margin: 0 auto;
            bottom: 0;
            left: 0;
            right: 0;
         }
      }

      &__text {
         color: #797979;
         font-size: 17px;
         line-height: 24px;
         margin-bottom: 40px;
      }

      &__items {
         display: flex;
         flex-wrap: wrap;
         margin: 0 -30px;
      }

      &__item {
         min-height: 310px;
         width: 50%;

         &:nth-child(even) {
            border-left: none;
         }

         &:last-child {
            border-bottom: none;
         }
      }
   }
}

@media (min-width: 768px) {
   .services {
      padding: 50px 0 0;

      &__title {
         margin-bottom: 30px;
      }

      &__descr {
         text-align: left;

         &::after {
            margin-left: 0;
         }
      }

      &__text {
         margin-bottom: 27px;
         text-align: left;
      }

      &__items {
         display: flex;
         flex-wrap: wrap;
         margin: 0 -40px;
      }

      &__item {
         min-height: 334px;

         &:hover {
            .services__item-inner {
               border: 4px solid $accent;
               margin: 18px 0;
               padding: 35px 20px 7px 20px;
               min-height: 288px;
            }
         }
      }
   }
}

@media (min-width: 1024px) {
   .services {
      padding: 52px 0 0;

      &__title {
         margin-bottom: 61px;
      }

      &__descr {
         line-height: 26px;
         padding-bottom: 46px;
         margin-bottom: 40px;
      }

      &__text {
         margin-bottom: 32px;
         max-width: 608px;
      }

      &__items {
         display: flex;
         flex-wrap: wrap;
      }

      &__item {
         min-height: 277px;
         max-width: 24%;
         padding: 0 17px;

         &:nth-child(2),
         &:nth-child(6) {
            border-right: none;
         }

         &:hover {
            padding: 0 17px;

            .services__item-inner {
               border: 4px solid $accent;
               margin: 9px 0;
               padding: 21px 9px 5px;
               min-height: 255px;
            }
         }
      }
   }
}

@media (min-width: 1440px) {
   .services {
      padding: 0;

      &__inner {
         display: flex;
         /*  justify-content: space-between; */
      }

      &__head {
         min-width: 350px;
         margin-right: 95px;
      }

      &__title {
         margin: 90px 0 70px;
         text-align: left;
      }

      &__descr {
         padding-bottom: 38px;
         margin-bottom: 35px;
      }

      &__items {
         min-width: 894px;
         margin: 0 -100px 0 0;
      }

      &__item {
         max-height: 270px;
         min-width: 223px;
         padding: 0 17px;

         &:nth-child(4),
         &:nth-child(8) {
            border-right: none;
         }

         &:nth-child(7):hover {
            padding: 0;
         }

         &:hover {
            padding: 0 17px;

            .services__item-inner {
               border: 4px solid $accent;
               margin: 9px 0;
               padding: 21px 9px 5px;
               min-height: 255px;
            }
         }
      }
   }
}

/* ------------------------SERVICES-END----------------------------------------------------- */
/* ---------------------------------PROJECT-------------------------------------------------- */

.project {
   background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);

   &__title {
      color: #ffffff;
      text-align: center;
      padding-top: 20px;
      margin-bottom: 41px;

      &::after {
         content: "";
         position: absolute;
         width: 50px;
         height: 8px;
         background-color: #fff;
         bottom: 0;
         margin: 0 auto;
         left: 0;
         right: 0;
      }
   }

   &__item {
      text-align: center;
      margin-bottom: 20px;
      position: relative;

      &:hover {
         .project__item-inner {
            opacity: 1;
         }
      }

      &__item-img {
         border-radius: 4px;
      }
   }

   &__item-img1 {
      background-image: url(../images/project-1.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      min-height: 250px;
   }

   &__item-img2 {
      background-image: url(../images/project-2.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      min-height: 250px;
   }

   &__item-img3 {
      background-image: url(../images/project-3.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      min-height: 250px;
   }

   &__item-img4 {
      background-image: url(../images/project-4.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      min-height: 250px;
   }

   &__item-inner {
      position: absolute;
      top: 12px;
      left: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($bg-color, 0.83);
      border-radius: 4px;
      min-height: 227px;
      min-width: 260px;
      opacity: 0;
      transition: all 0.5s;
   }

   &__item-link {
      display: block;
      letter-spacing: 2px;
      font-size: 16px;
      line-height: 19px;
      margin-top: 20px;
      color: $accent;
      @extend %robotocondenced-700;
   }
}

@media (min-width: 640px) {
   .project {
      &__title {
         font-size: 48px;
         line-height: 56px;

         &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 8px;
            background-color: #fff;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
         }
      }

      &__item-img1 {
         min-height: 460px;
      }

      &__item-img2 {
         min-height: 460px;
      }

      &__item-img3 {
         min-height: 460px;
      }

      &__item-img4 {
         min-height: 460px;
      }

      &__item-inner {
         top: 24px;
         left: 63px;
         max-height: 417px;
         max-width: 469px;
      }
   }
}

@media (min-width: 768px) {
   .project {
      &__title {
         padding-top: 80px;
         padding-top: 24px;
         margin-bottom: 80px;

         &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 8px;
            background-color: #fff;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
         }
      }

      &__items {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
      }

      &__item-img1 {
         min-width: 317.23px;
         min-height: 282.91px;
      }

      &__item-img2 {
         min-width: 317.23px;
         min-height: 282.91px;
      }

      &__item-img3 {
         min-width: 317.23px;
         min-height: 282.91px;
      }

      &__item-img4 {
         min-width: 317.23px;
         min-height: 282.91px;
      }

      &__item-inner {
         top: 24px;
         left: 27px;
         max-height: 230px;
         max-width: 260px; //!!!!доделать
      }

      &__item-link {
         margin-bottom: 80px;
      }
   }
}

@media (min-width: 1024px) {
   .project {
      &__items {
         max-width: 665px;
         display: flex;
         margin: 0 auto;
      }

      &__item-img {
         max-height: 282px;
      }

      &__item-inner {
         top: 24px;
         left: 30px;
         min-height: 230px;
         min-width: 260px;
      }

      &__item-link {
         margin-bottom: 80px;
      }
   }
}

@media (min-width: 1440px) {
   .project {
      &__items {
         max-width: 1320px;
         display: flex;
         flex-wrap: nowrap;
      }

      &__item-img1 {
         margin-right: 10px;
      }

      &__item-img2 {
         margin-right: 10px;
      }

      &__item-img3 {
         margin-right: 10px;
      }
   }
}

/* ---------------------------------PROJECT-END-------------------------------------------------- */

/* ---------------------------------TEAM-------------------------------------------------- */

.team {
   text-align: center;

   &__images {
      width: 100%;
      margin-bottom: 40px;
   }

   &__title {
      @extend %robotocondenced-700;
      font-size: 24px;
      line-height: 38px;
      color: $accent;
      padding-bottom: 28px;
      margin-bottom: 23px;
   }

   &__text {
      font-size: 16px;
      line-height: 25px;
      min-height: 270px;
      color: $default-color;
      margin-bottom: 84px;
   }

   &__btn {
      padding: 21px 26px;
      background-color: $accent;
      color: $bg-color;
      @extend %roboto-500;
      font-size: 20px;
      line-height: 18px;
      border-radius: 3px;
      border: none;
      text-transform: uppercase;
      margin-bottom: 40px;
   }
}

@media (min-width: 640px) {
   .team {
      padding: 43px 0 53px;

      &__images {
         margin-bottom: 40px;
      }

      &__title {
         font-size: 36px;
         line-height: 38px;
         margin-bottom: 40px;
      }

      &__text {
         text-align: center;
         margin-bottom: 56px;
         min-height: 150px;
      }
   }
}

@media (min-width: 768px) {
   .team {
      text-align: left;
      padding: 39px 0 48px;

      &__title {
         &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 8px;
            background-color: $accent;
            margin: 0 auto;
            bottom: 0;
            left: -305px;
         }
      }

      &__inner {
         display: flex;
      }

      &__images {
         max-width: 240px;
         max-height: 227px;
         margin-right: 34px;
      }

      &__title {
         margin-bottom: 7px;
      }

      &__text {
         text-align: left;
         margin-bottom: 35px;
         max-width: 407px;
         min-height: 150px;
      }

      &__btn {
         position: relative;
         top: 0;
         left: -80px;
      }
   }
}

@media (min-width: 1024px) {
   .team {
      text-align: left;
      padding: 80px 0 80px;

      &__title {
         margin-top: 20px;

         &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 8px;
            background-color: $accent;
            margin: 0 auto;
            bottom: 0;
            left: -415px;
         }
      }

      &__inner {
         display: flex;
      }

      &__images {
         min-width: 395px;
         min-height: 380px;
         margin-right: 34px;
      }

      &__title {
         margin-bottom: 7px;
      }

      &__text {
         margin-bottom: 35px;
         max-width: 523px;
         min-height: 192px;
         line-height: 31px;
      }

      &__btn {
         position: relative;
         top: 0;
         left: 0;
      }
   }
}

@media (min-width: 1440px) {
   .team {
      text-align: left;
      padding: 80px 0 100px;

      &__title {
         margin-top: 20px;

         &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 8px;
            background-color: $accent;
            margin: 0 auto;
            bottom: 0;
            left: -515px;
         }
      }

      &__inner {
         display: flex;
      }

      &__images {
         min-width: 470px;
         min-height: 430px;
         margin-right: 93px;
      }

      &__title {
         margin-bottom: 40px;
         margin-top: 0;
      }

      &__text {
         margin-bottom: 35px;
         min-width: 620px;
         min-height: 230px;
      }

      &__btn {
         position: relative;
         top: 0;
         left: 0;
      }
   }
}

/* ------------------------NEWS---------------------------------------------- */
.news {
   background-color: $bg-color;
   padding: 40px 0 40px;
   text-align: center;

   &__title {
      padding-bottom: 20px;
      margin-bottom: 40px;
      color: $accent;
      @extend %robotocondenced-700;
   }

   &__img {
      margin-bottom: 20px;
      width: 270px;
   }
}

/* ------------------------INFO---------------------------------------------- */
.info {
   text-align: center;
   background-color: $accent;
   color: #ffffff;
   font-size: 16px;
   line-height: 20px;

   &__logo {
      margin-bottom: 60px;
   }

   &__text {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 2px;
      margin-bottom: 43px;
   }

   &__icons {
      margin-bottom: 46px;
   }

   &__item {
      margin-bottom: 16px;
   }

   &__contacts {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 41px;
      color: #fff;
   }

   &__contacts-title {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 2px;
      margin-bottom: 15px;
      color: $bg-color;
   }

   &__address {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 36px;
      color: #fff;
   }

   &__address-title {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 2px;
      margin-bottom: 15px;
      color: $bg-color;
   }

   &__help {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 36px;
      color: #fff;
   }

   &__help-title {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 2px;
      margin-bottom: 15px;
      color: $bg-color;
   }

   &__help-title {
      margin-bottom: 15px;
   }

   &__menu {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 63px;
      color: #fff;
      margin-bottom: 40px;
      padding-bottom: 63px;
   }

  /*  &__menu-link {
      margin-bottom: 3px;
   } */

   &__menu-link:last-child {
      margin-bottom: 50px;
   }

   &__menu-title {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 2px;
      margin-bottom: 15px;
      color: $bg-color;
   }
}

@media (min-width: 640px) {
   .info {
      font-size: 16px;
      line-height: 20px;

      &__logo {
         margin-bottom: 60px;
      }

      &__text {
         text-align: left;
         font-size: 24px;
         line-height: 26px;
      }

      &__icons {
         display: flex;
         justify-content: space-around;
         padding-left: 30px;
         padding-right: 30px;
      }
      &__item {
         border: 1px solid #7ebf84;
         padding: 15px 62px;
      }
      &__item-4 {
         border-right: none;
         border-left: none;
      }
      &__item-1 {
         border-left: none;
         border-right: none;
      }
      &__item-2 {
         border-right: none;
      }
      &__row-one {
         display: flex;
      }
      &__row-two {
         display: flex;
      }
      &__contacts {
         margin-right: 225px;
         text-align: left;
      }
      &__help {
         margin-right: 170px;
         text-align: left;
      }
      &__address {
         text-align: left;
      }
      &__menu {
         text-align: left;
      }
   }
}
@media (min-width: 768px) {
   .info {
      &__item {
         border: 1px solid #7ebf84;
         padding: 15px 75px; 
   }
   &__item-4 {
      border-right: none;
      border-left: none;
   }
   &__item-1 {
      border-left: none;
      border-right: none;
   }
   &__item-2 {
      border-right: none;
   }
  }
}
@media (min-width: 1024px) {
   .info {
      &__item {
         border: 1px solid #7ebf84;
         padding: 15px 107px;
   }
   &__item-4 {
      border-right: none;
      border-left: none;
   }
   &__item-1 {
      border-left: none;
      border-right: none;
   }
   &__item-2 {
      border-right: none;
   }
   &__row-three {
      display: flex;
   }
   &__contacts {
      margin-right: 117px;
   }
   &__address {
      margin-right: 113px;
   }
   &__help {
      margin-right: 60px;
   }
  }
}
@media (min-width: 1440px) {
   .info {
      &__text {
         max-width: 640px;
         letter-spacing: 2px;

      }
      &__item {
         border: 1px solid #7ebf84;
         padding: 15px 146px;
   }
   &__item-4 {
      border-right: none;
      border-left: none;
   }
   &__item-1 {
      border-left: none;
      border-right: none;
   }
   &__item-2 {
      border-right: none;
   }
   &__row-three {
      display: flex;
   }
   &__contacts {
      margin-right: 175px;
   }
   &__address {
      margin-right: 210px;
   }
   &__help {
      margin-right: 150px;
   }
  }
}